In [1]:
from datautils import load
df = load()

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id
0,1006220,2016-04-09,2016-04-11,31114,desktop,384,Gondal,Gondal,1006220_1
1,1006220,2016-04-11,2016-04-12,39641,desktop,384,Gondal,Gondal,1006220_1
2,1006220,2016-04-12,2016-04-16,20232,desktop,384,Gondal,Glubbdubdrib,1006220_1
3,1006220,2016-04-16,2016-04-17,24144,desktop,384,Gondal,Gondal,1006220_1
4,1010293,2016-07-09,2016-07-10,5325,mobile,359,The Devilfire Empire,Cobra Island,1010293_1
...,...,...,...,...,...,...,...,...,...
1166830,999261,2016-09-13,2016-09-15,14197,tablet,10332,Gondal,Fook Island,999261_1
1166831,999755,2016-12-13,2016-12-16,4476,desktop,2661,The Devilfire Empire,Gondal,999755_1
1166832,999755,2016-12-16,2016-12-17,1034,desktop,7974,The Devilfire Empire,Gondal,999755_1
1166833,999755,2016-12-22,2016-12-25,64876,desktop,7974,The Devilfire Empire,Fook Island,999755_1
1166834,999755,2016-12-25,2016-12-28,9608,desktop,9924,The Devilfire Empire,Fook Island,999755_1